*{
    font-family: 'Balsamiq Sans', cursive;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: radial-gradient( circle farthest-corner at -8.9% 51.2%,  rgba(255,124,0,1) 0%, rgba(255,124,0,1) 15.9%, rgba(255,163,77,1) 15.9%, rgba(255,163,77,1) 24.4%, rgba(19,30,37,1) 24.5%, rgba(19,30,37,1) 66% );
}

.title_h3{
    color: black;
    text-align: center;
}

thead, tbody{
    background-color: white;
}

label{
    color: black;
    font-size: 18px;
}

.contenedor{
    padding: 10px;
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    border-radius: 20px;
    margin-top: 50px;
    margin: 50px;
}

.contenedorCartas{
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 100px;

}

.navbar{
    background-color: #ff8c00;
    background-image: linear-gradient(90deg, #ff8c00 0%, #e2ad00 100%);
}

#links{
    text-decoration: none;
    color: white;
    margin: 4px;
}

#mensaje_edit{
    text-align: center;
    margin-top: 25px;
}